{% extends "index.html" %}
{% block content %}
  <div class="main">
    <form class="form__ui" onsubmit="buttonPress();" action="" method="post">
      <div class="pass__cont">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <input name="input__pass" class="input__name inupt__pass" placeholder="Введите пароль администратора" type="text"
          autocomplete="off"></p>
    
    
    
      </div>
      <input class="input__submit input__submit-pass" type="submit" value="Отправить" />
    
    </form>
  </div>
{% endblock %}